<%= simple_form_for @training, html: { class: "d-flex flex-column align-items-center" } do |f| %>
  <%= f.input :zone_id, value: "", as: :hidden, input_html: { data: { zone_target: "zoneId" } } %>
  <div class="d-flex">
    <%= f.input :shot_made, label: false, input_html: { class: 'input-box', inputmode: 'numeric' } %>
    <p class="division"></p>
    <%= f.input :shot_total, label: false, input_html: { class: 'input-box', inputmode: 'numeric' } %>
  </div>


  <% if current_user.favorite_playgrounds.present? %>
    <% favorite_playground = current_user.favorite_playgrounds.first.playground %>
    <%= f.input :playground_id, as: :hidden, input_html: { value: favorite_playground.id, selected: true } %>
    <div class="d-flex justify-content-center align-items-center">
      <i class="fa-solid fa-location-dot m-2"></i>
      <%= "#{favorite_playground.short_name}" %>
    </div>
  <% else %>
    <div>Aucun terrain</div>
  <% end %>
  <%= f.submit "Valider", class: "custom-button mt-3" %>
<% end %>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    var shotMadeInput = document.getElementById('training_shot_made');
    var shotTotalInput = document.getElementById('training_shot_total');
    var submitButton = document.querySelector('.custom-button');
    console.log(shotMadeInput);
    console.log(shotTotalInput);
    console.log(submitButton);

    function checkValues() {
      var shotMade = parseInt(shotMadeInput.value);
      var shotTotal = parseInt(shotTotalInput.value);
      console.log(shotMade);
      console.log(shotTotal);
      if (shotMade > shotTotal) {
        submitButton.disabled = true;
      } else {
        submitButton.disabled = false;
      }
    }
    shotMadeInput.addEventListener('input', checkValues);
    shotTotalInput.addEventListener('input', checkValues);
  });
</script>
