<%= simple_form_for @training, html: { class: "d-flex flex-column align-items-center" } do |f| %>
  <%= f.input :zone_id, value: "", as: :hidden, input_html: { data: { zone_target: "zoneId" } } %>
  <%= f.input :shot_made, label: false, input_html: { class: 'input-box' } %>
  <p class="division"></p>
  <%= f.input :shot_total, label: false, input_html: { class: 'input-box' }  %>

  <%= link_to "Ajouter un lieu <i class='fas fa-arrow-right'></i>".html_safe, root_path, class:"text-decoration-none text-black mt-1" %>

  <% if current_user.favorite_playgrounds.present? %>
    <% favorite_playground_name = current_user.favorite_playgrounds.first.playground.name %>
    <%= f.input :use_favorite_playground, as: :boolean, label: "Tirez depuis #{favorite_playground_name}" %>
  <% else %>
    <%= f.input :use_favorite_playground, as: :boolean, label: 'Tirez depuis votre terrain favori' %>
  <% end %>

  <%= f.submit "Valider", class: "custom-button mt-3" %>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var shotMadeInput = document.getElementById('training_shot_made');
    var shotTotalInput = document.getElementById('training_shot_total');
    var submitButton = document.querySelector('.custom-button');
    console.log(shotMadeInput);
    console.log(shotTotalInput);
    console.log(submitButton);

    function checkValues() {
      var shotMade = parseInt(shotMadeInput.value);
      var shotTotal = parseInt(shotTotalInput.value);
      console.log(shotMade);
      console.log(shotTotal);
      if (shotMade > shotTotal) {
        submitButton.disabled = true;
      } else {
        submitButton.disabled = false;
      }
    }
    shotMadeInput.addEventListener('input', checkValues);
    shotTotalInput.addEventListener('input', checkValues);
  });
</script>
