<%= simple_form_for @training, html: { class: "d-flex flex-column align-items-center" } do |f| %>
  <%= f.input :zone_id, value: "", as: :hidden, input_html: { data: { zone_target: "zoneId" } } %>
  <%= f.input :shot_made, label: false, input_html: { class: 'input-box' } %>
  <p class="division"></p>
  <%= f.input :shot_total, label: false, input_html: { class: 'input-box' }  %>
  <%= link_to "Ajouter un lieux <i class='fas fa-arrow-right'></i>".html_safe, root_path, class:"text-decoration-none text-black mt-1" %>
  <%= f.submit "Valider", class: "custom-button mt-3" %>
<% end %>
