<h1>Leaderboard</h1>

<% @best_trainings.each do |training| %>
  <div>
    <strong>User:</strong> <%= training.user.username %>
  </div>
  <div>
    <strong>Shots Made:</strong> <%= training.shot_made %>
  </div>
  <div>
    <strong>Shots Total:</strong> <%= training.shot_total %>
  </div>
  <div>
    <strong>Shooting Efficiency:</strong> <%= training.shooting_efficiency %>%
  </div>
  <div>
    <strong>Zone:</strong> <%= training.zone_id %>
  </div>
  <br>
<% end %>
