<!-- app/views/leaderboards/index.html.erb -->
<%= render "shared/navbar" %>
<h1 class="text-center mt-3 mb-3">Classement</h1>

<div class="d-flex" style="width: 100%;">
  <%= form_tag(leaderboards_path, method: :get, class: "mb-4") do %>
    <div class="form-group d-flex justify-content-start">
      <%= label_tag "user_id", "" %>
      <%= text_field_tag :username, params[:username], placeholder: "Nom", class: "form-control", style: "width: 35%; margin-left: 10px;" %>
      <%= label_tag "zone_id", "" %>
      <%= select_tag(:zone_id, options_for_select([["Tout", ""], ["Raquette", 1], ["Lancer franc", 2], ["3 points de face", 3], ["2 points fond droite", 4], ["3 points fond droite", 5], ["2 points angle droite", 6], ["3 points angle droite", 7], ["2 points fond gauche", 8], ["3 points fond gauche", 9], ["2 points fond gauche", 10], ["3 points angle gauche", 11]], params[:zone_id]), class: "form-control", style: "width: 25%; margin-left: 10px;") %>
      <%= submit_tag("Filtrer", class: "custom-button") %>
      <%= link_to '<i class="fas fa-xmark fa-1x"></i>'.html_safe, leaderboards_path, class: "custom-button me-2" %>
    </div>
  <% end %>
</div>


<div class="d-flex justify-content-center align-item-center">
  <table class="table table-striped">
    <thead class="bg-dark text-white">
      <tr class="text-center">
        <th scope="col" class="py-2">Rang</th>
        <th scope="col" class="py-2">Nom</th>
        <th scope="col" class="py-2">Zone</th>
        <th scope="col" class="py-2">Précision</th>
      </tr>
    </thead>
    <tbody>
      <% @best_trainings.each_with_index do |training, index| %>
        <tr class="text-center">
          <th scope="row"><%= index + 1 %></th>
          <td ><%= link_to "#{training.user.username}", profil_path(training.user), class:"text-dark text-decoration-none" %></td>
          <td><strong><%= training.zone.name %></strong></td>
          <td><strong><%= (training.shooting_efficiency).round(1) %>%</strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
