<%= render "shared/navbar" %>
<div class="container mt-1">
  <img class="carte-jouer shadow" src="<%= @playground.court %>" alt="Playground Picture" style="max-width: 100%; height: auto;">

  <div class="carte-jouer mt-4 mb-3 py-3 bg-white text-dark text-center shadow">
      <h1 style="color: #FF3115;"><%= @playground.name %></h1>
      <h2><%= @playground.address %></h2>
  </div>
</div>


<h1 class="text-center"><strong>Leaderboard</strong></h1>
<div class="mb-5 pb-5">
  <table class="table table-striped">
  <thead class="fs-3">
    <tr class="text-center">
      <th scope="col" class="py-2"><strong>Rang</strong></th>
      <th scope="col" class="py-2"><strong>Nom</strong></th>
      <th scope="col" class="py-2"><strong>Zone</strong></th>
      <th scope="col" class="py-2"><strong>Précision</strong></th>
    </tr>
  </thead>
  <tbody>
    <% @playground_leaderboard.each_with_index do |training, index| %>
      <tr class="text-center">
        <th scope="row" class="<%= top_players_class(index) %>"><%= index + 1 %></th>
        <td class="<%= top_players_class(index) %>"><%= link_to "#{training.user.username}", profil_path(training.user), class:"text-dark text-decoration-none #{top_players_class(index)}" %></td>
        <td class="<%= top_players_class(index) %>"><strong><%= training.zone.name %></strong></td>
        <td class="<%= top_players_class(index) %>"><strong><%= (training.shooting_efficiency).round(1) %>%</strong></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div style="position: fixed; bottom: 0; width: 100%;">
  <%= render 'shared/footnav' %>
</div>
