<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background: transparent;">
  <div class="container-fluid d-flex justify-content-center">
    <%= link_to root_path, class: "navbar-brand d-flex justify-content-center" do %>
      <%= image_tag "canyouscore.svg", class: "navbar-logo" %>
    <% end %>
    <div class="notif">
      <% if user_signed_in? %>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNotif" aria-controls="navbarNotif" aria-expanded="false" aria-label="Toggle navigation">
          <div class="position-relative">
            <span class="fas fa-bell"></span>
            <% if current_user.followee_notifs.present? %>
              <div class="pastille"></div>
            <% end %>
          </div>
        </button>

        <div class="collapse navbar-collapse mt-4 pt-2" id="navbarNotif">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <% current_user.followee_notifs.where(follow: current_user).take(3).each do |n| %>
                  <div class="notification shadow">
                    <% if n.user.photo.attached? == true  %>
                      <%= link_to profil_path(n.user_id) do %>
                        <%= cl_image_tag n.user.photo.key, class: "avatar-large" %>
                      <% end %>
                    <% else %>
                      <%= link_to profil_path(n.user_id) do %>
                        <%= cl_image_tag("uk7594qzhdhrmsmdfnbb", class: "avatar-large" ) %>
                      <% end %>
                    <% end %>
                    <div class="notification-content">
                      <p><small>Session du <%= n.training.created_at.strftime("%d/%m/%y") %></small></p>
                      <p><%= n.user.username %> a shooté à <%= n.training.shooting_efficiency.to_i %>%</p>
                    </div>
                    <div class="notification-actions">
                      <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, notif_path(n), data: { turbo_method: :delete } %>
                    </div>
                  </div>
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
