<% if current_user %>
  <div class="tot">
    <script src="application.js"></script>
    <script src="start_training.js"></script>
    <%= render "shared/navbar" %>
    <div class="mb-5 pb-5">
      <div id="basketball-container" class="basketball">
        <%= link_to "debut", new_training_path, class:"button-start text-decoration-none text-white" %>

        <% if current_user %>
          <div class="text-center px-3">
            <div class="d-flex flex-column justify-content-center mt-5">
              <div class="mt-5">
                <h1 class="mt-4 pb-2"><strong>3 dernières sessions</strong></h1>
                <table class="table table-striped rounded-table border border-4">
                  <thead class="table-light">
                    <tr class="">
                      <th scope="col" class="">
                        <h3>Zone</h3>
                      </th>
                      <th scope="col" class="">
                        <h3>Paniers</h3>
                      </th>
                      <th scope="col" class="">
                        <h3>Réussite</h3>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <% current_user.trainings.order(created_at: :desc).limit(3).each do |t| %>
                      <tr>
                        <th scope="row">
                          <%= t.zone.name %>
                        </th>
                        <th scope="row">
                          <%= t.shot_made %> / <%= t.shot_total %>
                        </th>
                        <th scope="row">
                          <%= (t.shot_made.to_f / t.shot_total.to_f * 100).round(1) %>%
                        </th>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div style="position: fixed; bottom: 0; width: 100%;">
      <%= render 'shared/footnav' %>
    </div>
  <% else %>
    <div class="homepage">
      <%= link_to root_path do %>
        <%= image_tag 'icons/title.svg', class: 'mx-auto d-block title' %>
      <% end %>
      <%= image_tag 'icons/GroupPlayer.svg', class: 'player' %>
      <div>
        <%= link_to "Connexion", new_user_session_path, class: "button-sign text-decoration-none text-white" %>
        <%= link_to "Inscription", new_user_registration_path, class: "button-sign-in text-decoration-none text-white" %>
      </div>
    </div>
  </div>
<% end %>
