<script src="application.js"></script>
<script src="start_training.js"></script>

<div id="basketball-container" class="basketball">
  <div id="basketball-ball" class="ball" onclick="startAnimation()">
    <div class="lines"></div>
    <div id="startText" onclick="startAnimation()">START</div>
  </div>

  <div class="shadow"></div>
  <button id="startButton">Start Animation</button>
  <%= javascript_include_tag 'controllers/start_training' %>

  <% if current_user %>
    <div class="container1 text-center">
      <div class="card1">
        <div class="content">
          <h1 class=""><strong>3 dernières sessions</strong></h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <h3>Zone</h3>
                </th>
                <th scope="col">
                  <h3>Paniers</h3>
                </th>
                <th scope="col">
                  <h3>Réussite</h3>
                </th>
              </tr>
            </thead>
            <tbody>
              <% current_user.trainings.order(created_at: :desc).limit(3).each do |t| %>
                <tr>
                  <th scope="row">
                    <%= t.zone.name %>
                  </th>
                  <th scope="row">
                    <%= t.shot_made %> / <%= t.shot_total %>
                  </th>
                  <th scope="row">
                    <%= (t.shot_made.to_f / t.shot_total.to_f * 100).round(1) %>%
                  </th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container1 text-center">
      <div class="card1">
        <div class="content1">
          <h1><strong>All Stars</strong></h1>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">
                  <h3>Username</h3>
                </th>
                <th scope="col">
                  <h3>Zone</h3>
                </th>
                <th scope="col">
                  <h3>Paniers</h3>
                </th>
                <th scope="col">
                  <h3>Réussite</h3>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @best_trainings.take(3).each do |t| %>
                <tr>
                  <th scope="row">
                    <%= t.user.username %>
                  </th>
                  <th scope="row">
                    <%= t.zone.name %>
                  </th>
                  <th scope="row">
                    <%= t.shot_made %> / <%= t.shot_total %>
                  </th>
                  <th scope="row">
                    <%= (t.shot_made.to_f / t.shot_total.to_f * 100).round(1) %>%
                  </th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <%# <div class="footer1"> %>
    <%# <%= image_tag("nba_banner.png", alt: "NBA Banner") %> %>
  <%# </div> %>
</div>
