<%= render "shared/navbar" %>
<div class="text-center my-3">
    <h2><strong>Statistiques</strong></h2>
</div>

<button onclick="showAllZones()" class="custom-button-small">Total</button>

<select id="zoneFilter" onchange="filterByZone()" style="padding: 3px; font-size: 16px; border-radius: 5px;">
  <option value="">Filtrer</option>
  <% @profil.trainings.distinct.pluck(:zone_id).each do |zone_id| %>
    <% zone = Zone.find(zone_id) %>
    <option value="<%= zone.id %>"><%= zone.description %></option>
  <% end %>
</select>

</select>
  <canvas id="statsChart" width="410" height="300" class="me-3"></canvas>
<h2 class="text-center mt-3 pt-2 border-top"><strong>Détails</strong></h2>

<div class="d-flex flex-column">
  <table class="table table-striped text-center">
    <thead>
      <tr class="text-center">
        <th>Date</th>
        <th>Total</th>
        <th>Rentrés</th>
        <th>Précision</th>
        <th>Zone</th>
      </tr>
    </thead>
    <tbody>
      <% @latest_trainings_for_table.each do |training| %>
        <tr class="text-center">
          <td><%= training.created_at.strftime("%d/%m/%y") %></td>
          <td><%= training.shot_total %></td>
          <td><%= training.shot_made %></td>
          <td><%= training.shooting_efficiency.to_i %>%</td>
          <td><%= training.zone.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
  </div>
</div>
<div style="position: fixed; bottom: 0; width: 100%;">
  <%= render 'shared/footnav' %>
</div>

<script>

  function showAllZones() {
    window.location.href = "<%= stats_page_path %>";
  }
  function filterByZone() {
    const zoneId = document.getElementById("zoneFilter").value;
    if (zoneId === "") {
      window.location.href = "<%= stats_page_path %>";
    } else {
      window.location.href = "<%= stats_page_path %>?zone_id=" + zoneId;
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    const trainingDates = <%= @latest_trainings_for_table.reverse.map { |t| t.created_at.strftime("") }.to_json.html_safe %>;
    const shootingEfficiencies = <%= @latest_trainings_for_table.reverse.map { |t| t.shooting_efficiency.to_i }.to_json.html_safe %>;

    const ctx = document.getElementById('statsChart').getContext('2d');
    const statsChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: trainingDates,
        datasets: [{
          label: '',
          data: shootingEfficiencies,
          borderColor: '#FF3115',
          borderWidth: 2,
          fill: false
        }]
      },
      options: {
        responsive: false,
        scales: {
          x: {
            type: 'category',
            labels: trainingDates,
          },
          y: {
            beginAtZero: true,
            max: 100,
            ticks: {
              callback: function(value) {
                return value + '%';
              }
            }
          }
        }
      }
    });
  });
</script>
