<!-- app/views/profils/show.html.erb -->
<div class="container" style="background-color: #F5841A; padding: 20px;">
  <div class="text-center">
    <h1><%= @profil.first_name %> <%= @profil.last_name %></h1>

    <div>
      <strong>Username</strong> <%= @profil.username %>
    </div>

    <div>
      <strong>Email:</strong> <%= @profil.email %>
    </div>
  </div>

  <div class="text-center">
    <div>
      <h2>Stats</h2>

      <p>Average efficiency: <%= @profil.average_shooting_efficiency.to_i %>%</p>
    </div>

    <div>
      <strong>Previous seshs </strong>
    </div>
    <br>

    <div class="d-flex flex-column">
      <% @profil.trainings.order(created_at: :desc).limit(5).each do |training| %>
        <div class="card" style="border: 1px solid #ddd; padding: 10px; margin: 10px; background-color: #F2E8C6;">
          <div>
            <strong>Training Date:</strong> <%= training.created_at.strftime("%d %B") %>
          </div>
          <div>
            <strong>Total Shots:</strong> <%= training.shot_total %>
          </div>
          <div>
            <strong> Made Shots:</strong> <%= training.shot_made %>
          </div>
          <div>
            <strong> Accuracy:</strong> <%= training.shooting_efficiency %>%
          </div>
          <div>
            <strong>Zone:</strong> <%= training.zone_id %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
